// // /**
// //  * @file styles.scss
// //  *
// //  * Main stylesheet.
// //  * */
// @import "https://fonts.googleapis.com/css?family=Montserrat|Tangerine:400,500,700";

@import "fonts/fa-brands",
        "fonts/fa-solid",
        "fonts/fa-regular",
        "fonts/fontawesome";

@import 'config/typography',
        'config/animations';

@import "bulma";

#app {
    opacity: 1;
    transition: all ease-out .125s;
    visibility: visible;
    &.is-loading {
        opacity: 0;
        visibility: hidden;
    }
}
